.hed{
    background-color: #222;
    width: 100%;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-top: 55px;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}


.menu a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}


.menu{
    margin-right: 500px;
}

.phone{
    color: yellow;
    text-decoration: none;
}





.block_main{
    display: flex;
    justify-content: space-between;
}




.main_left h1{ 
    color: #fff;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 32px;
    margin-top: 115px;
}

.main_left p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 55px;
}

.main_left{
    margin-left: 115px;
}


a{
    text-decoration: none;
}


.main_left a{
    display: flex;
    width: 240px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px 0 38px;
    border-radius: 25px;
    background-color: #FFCB06;


    color: #000;
    font-size: 14px;
}



.main_right{
    margin-right: 40px;
    margin-top: 40px;
}




.main_content{
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    height: 320px;
    align-items: center;
}



.main{
    width: 100%;
    height: 320px;
    color: #D4D4D4;
    background-color: #131313;
}

.main_item{
    text-align: center;
}

.main_item p{
    margin-top: 35px;

}



.content_items{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.content_items img{
    margin-right: 80px;
}

.content_text_p h2{
    color: #000;
    margin-bottom: 44px;
    font-size: 24px;
    font-weight: 700;
}

.content_text_p p{
    color: #000;
    font-weight: 400;
    font-size: 14px;
}


.item_one{
    color: #000;
    margin-left: 100px;
}

.item_one h2{
    margin-bottom: 30px;
}

.item_one li{
    margin-bottom: 30px;
    margin-left: 20px;
    color: yellow;
}


.item_one span{
    color: #000;
}

.all{
    display: flex;
    justify-content: center;
}

.block_two{
    margin-top: 50px;
}


.footer{
    width: 100%;
    height: 354px;
    background-color: #131313;
    display: flex;
    align-items: center;
}


.f_all{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.f_one{
    display: flex;
    height: 60px;
    align-items: center;
}


.f_one img{
    width: 60px;
    height: 60px;
}


.f_item p{
    margin-top: 110px ;
    color: #555;
}


.f_item h1{
    font-size: 18px;
}


.f_item hr{
    width: 180px;
    background-color: #555;
    display: block;
}


.line{
    width: 180px;
    background-color: #555;
    height: 1px;
    margin-top: 14px;
    margin-bottom: 50px;
}



.f_item a{
   color: #555;
}

